{% block content %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<section class="section is-marginless notification is-secondary">
  <div class="container">
    <section class="articles">
        <div class="column is-10 is-offset-1">
          <div class="card article">
            <div class="card-content reflection-card">        
            <section class="hero-foo-reflection" style="background: url('{{ url_for('static', filename = 'img/hero.jpg')}}');">
              <div class="hero-body">
                <div class="container">
                  <h1 class="title">&nbsp;</h1>
                  <h1 class="title">&nbsp;</h1>
                  <h2 class="subtitle">&nbsp;</h2> 
                </div>
              </div>
            </section>
            <section class="reflection-below-hero is-paddingless">
              <div class="hero-body">
                <div class="container">
                  <nav class="breadcrumb is-paddingless is-marginless" aria-label="breadcrumbs">
                    <ul>
                      <li><a href="/showcase">Showcase</a></li>
                      <li class="is-active"><a href="#" aria-current="page">Bergen Makerspace 1</a></li>
                    </ul>
                  </nav>
                  <h1 class="title">Lorem Ipsum</h1>
                  <h2 class="subtitle"><small>1/27/18</small></h2>
                </div>
              </div>
            </section>
          <div class="reflection-content">
              <p>Lorem Khaled Ipsum is a major key to success. You smart, you loyal, you a genius. Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world out there. Eliptical talk. We the best. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Stay focused. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. Hammock talk come soon.</p>
              <br>
              <p>Lorem Khaled Ipsum is a major key to success. You smart, you loyal, you a genius. Watch your back, but more importantly when you get out the shower, dry your back, it’s a cold world out there. Eliptical talk. We the best. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Stay focused. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast. Hammock talk come soon.</p>
              
            </div>       
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
{% include 'footer.html' %}
{% endblock %}

