{% block content %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<section class="section is-marginless notification is-secondary">
  <div class="container">
    <section class="articles">
        <div class="column is-10 is-offset-1">
          <div class="card article">
            <div class="card-content reflection-card">        
            <section class="hero-foo-reflection" style="background: url('{{ url_for('static', filename = 'img/hero.jpg')}}');">
              <div class="hero-body">
                <div class="container">
                  <h1 class="title">&nbsp;</h1>
                  <h1 class="title">&nbsp;</h1>
                  <h2 class="subtitle">&nbsp;</h2> 
                </div>
              </div>
            </section>
            <section class="reflection-below-hero is-paddingless">
              <div class="hero-body">
                <div class="container">
                  <nav class="breadcrumb is-paddingless is-marginless" aria-label="breadcrumbs">
                    <ul>
                      <li><a href="/showcase">Showcase</a></li>
                      <li class="is-active"><a href="#" aria-current="page">Bergen Makerspace 1</a></li>
                    </ul>
                  </nav>
                  <h1 class="title">Makerspace Kickoff Workshop</h1>
                  <h2 class="subtitle"><small>1/27/18</small></h2>
                </div>
              </div>
            </section>
          <div class="reflection-content">
              <p>This was our very first workshop at the Bergen Makerspace, located right next to our high school. Since it would be our very first experience with the school, we started out with teaching website building since it was something we were already comfortable with. It was also different from our usual workshops because it was a one day session, so it was from 10am to 2:30pm with a lunch break in the middle.</p>
              <br>
              <p>The workshop turned out to be a great success! We were able to get through the entire lesson plan fairly easily, and  got to do some extra fun stuff at the end. Everyone was able to get their websites online on their Github subdomain by the end and had fairly complete static pages. We had a huge turnout for this workshop, and even had to close signups after reaching 25 people! In the future it would be great if we could have more space to allow for more kids to sign up since it was so popular. Overall, it was a great experience for both the teachers and the kids, so I'm excited for our monthly Makerspace workshops in the future! </p>
              <br>
              <p>- Anand</p>
              <a href="https://drive.google.com/open?id=1SW5nU7yr2EClG2tSWMuu6vQIEIgVax9r">Photos Link</a>
            </div>       
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
{% include 'footer.html' %}
{% endblock %}

