{% block content %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<section class="section is-marginless notification is-secondary">
  <div class="container">
    <section class="articles">
        <div class="column is-10 is-offset-1">
          <div class="card article">
            <div class="card-content reflection-card">        
            <section class="hero-foo-reflection" style="background: url('{{ url_for('static', filename = 'img/showcase/grheader.jpeg')}}');">
              <div class="hero-body">
                <div class="container">
                  <h1 class="title">&nbsp;</h1>
                  <h1 class="title">&nbsp;</h1>
                  <h2 class="subtitle">&nbsp;</h2> 
                </div>
              </div>
            </section>
            <section class="reflection-below-hero is-paddingless">
              <div class="hero-body">
                <div class="container">
                  <nav class="breadcrumb is-paddingless is-marginless" aria-label="breadcrumbs">
                    <ul>
                      <li><a href="/showcase">Showcase</a></li>
                      <li class="is-active"><a href="#" aria-current="page">Glen Rock Library</a></li>
                    </ul>
                  </nav>
                  <h1 class="title">Our first Workshop!</h1>
                  <h2 class="subtitle"><small>11/18/17, 11/15/17</small></h2>
                </div>
              </div>
            </section>
          <div class="reflection-content">
              <p>The Glen Rock Library was the site of our very first workshop, and a great way to kickoff the newly formed Generation Coders Club! I had spent a lot of time creating the curriculum we would use for our website building workshops, and this would be the first chance I got to try it out with a group of kids. It was definitely a nervous moment for me, especially after finding out that the sign up list was completely full.</p>
              <br>
              <p>The Glen Rock lesson was split up into two days; one dedicated to HTML and one to CSS. The first day was an awesome experience right off the bat. The librarian helping us set up was super nice, the kids were energetic and engaged, and we got a lot done. Everyone was able to have something on their website by the end of the class, and everyone was excited for the next class. Overall, all the kids had accomplished something they were proud of and had a good time.</p>
              <br>
              <p>The second workshop was dedicated towards CSS and putting their sites live for free on a subdomain of Github. The kids continued working on what they had built, but with much greater satisfaction since they could now control how it looked with more detail. After all, who builds websites without any CSS? By the end of the day, most of the kids were able to make an account with Github and put their site online. While this was a little rushed, it was well worth giving the kids every last minute we could for them to work on their sites in class. Perhaps the most satisfying part of the workshops was knowing that at least some of the kids who attended continued to work on their sites even after leaving the second workshop. Iris, everyone else who volunteered to teach, and I gave out our emails to those who wanted help from us after leaving, and receiving emails from them was confirmation that the kids enjoyed what they learned, and continued working on their websites.</p>
              <br>
              <p>- Anand</p>
              <a href="https://drive.google.com/drive/folders/1O65t81O96zAXQdqgm-R47vefj6MEmiFt?usp=sharing">Photos Link</a>
            </div>       
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
{% include 'footer.html' %}
{% endblock %}

