@charset "utf-8";
/*! bulma.io v0.6.2 | MIT License | github.com/jgthms/bulma */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$family-serif: 'Open Sans', sans-serif;
$navtext: #3c424f;
$navtext-invert: #000;
$danger: $orange;
$primary: rgb(0, 61,255);
$family-primary: $family-serif;
$gap: 128px;
$secondary: rgb(247, 250, 255);
/*$secondary: #f4f8ff;*/
$secondary-invert: #3c424f;
$tertiary: #808080;
$tertiary-invert: #fff;
$footer-background-color: $primary;
$black: rgb(45, 49, 66);
$body-line-height: 1.8;
/*#1d49da !important*/

.hero-foo {
	@extend .hero;
	background: linear-gradient(0deg,rgba(0, 61, 255,0.5),rgba(0, 61, 255,0.5)), url('img/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	.subtitle a {
		font-weight: 500;
	}
}
.hero-foo-reflection {
	@extend .hero;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}
.reflection-below-hero {
	.hero-body {
		padding: 1.3rem 1.5rem 0.5rem 1.5rem !important;
	}
}
.text-light {
	font-weight: 300;
}
#nav {
  font-size: 1rem;
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: #fff;    
    text-align: center;
    box-shadow: 0px 5px 22px -5px rgba(122,122,122,0.1);
    ul {
		list-style:none;
		position:relative;
		float:left;
		margin:0;
		padding:0;
		a {
			display:block;
 			text-decoration:none;
  			line-height:63px;
  			padding:0 15px;
		}
		li {
			position:relative;
  			float:left;
 		 	margin:0;
  			padding:0
		}
    }
    .logo {
		position: relative;
		z-index: 6;
		height: 4em;
		float: left;
		padding-top: 0px !important;
		padding: 0 6%;
	}
}
.has-light-shadow {
	box-shadow: 0px 0px 32px 0px rgba(122,122,122,0.2);
}

.has-shadow {
	box-shadow: 0px 5px 34px -5px rgba(122, 122, 122, 3.3);
}
.big-icon-below {
	font-weight: 600 !important;
	margin-bottom: 0 !important;
	margin-top: 1.5em;

}
.card-overlay {
	padding: 0.6rem !important;
}
.reflection-subtitle {
	font-size: 1rem;
    font-weight: 600 !important;
    
}
.reflection-title {
	font-size: 1.7rem;
    font-weight: 600 !important;
    line-height: 0.6;
}
.reflection-content {
	padding: 1em 1.5rem;
}
/*.reflection-card {
	padding: 1.5rem !important;
}
.reflection-title {
	font-size: 2rem;
    font-weight: 4100 !important;
    line-height: 2;
}
.reflection-text {
	    line-height: 1.4;
   		margin: 0 5.5rem;
	p {
		line-height: 1.9;
    	margin: 15px 0;
    	font-size: 0.9rem;
	}
}*/
.card-image {
	padding-bottom: 66.6666%;
	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
	display: block;
    height: auto;  	
}
.card-image-content {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	padding-bottom: 5px;
	border-bottom: 2px solid $white;
}
time {
	font-size: 0.7rem !important;
}

.has-overlay {
	background: linear-gradient(0deg,rgba(0, 61, 255,0.5),rgba(0, 61, 255,0.5));
}
.hero-body h2 {
	font-weight: 300;
}
.is-horizontal-center {
  margin: 0 auto;
}

.content.is-small {
	padding-top: 0.9rem !important;
	margin-bottom: 0 !important;
}
.sec-secondary {
	background-color: #f4f8ff;
}
.sec-sub {
	font-weight: 600 !important;
}

.slider {
	display: none;
	&.active {
		display: block !important;
	}
}

.dot {
	cursor:pointer;
  	height: 15px;
  	width: 15px;
  	margin: 0 2px;
  	background-color: #819aea;
  	border-radius: 50%;
 	display: inline-block;
  	transition: background-color 0.6s ease;
	&.active, &:hover {
		background-color: $primary !important;
	}
}
.drop-us-contact {
	display: inline-block;
	border-bottom: 3px solid $primary !important;
	p {
		margin-bottom: 2px;
	}
	&:not(.subscribe) {
		margin-bottom: 1.2rem;
	}
}

.session-notification {
	box-shadow: 0 2px 3px rgba(45, 49, 66, 0.1), 0 0 0 1px rgba(45, 49, 66, 0.1);
}

.session-date { 
	vertical-align:top; 
}

.session-date-group { 
	display:inline-block;
	vertical-align:top;
}

.session-day-number {
	font-size: 1.7rem;
	margin-right: 0.4rem;
}

.session-time {
	line-height: 0.6;
}

.session-bottom-details {
	border-top: 1px solid #dbdbdb;
	p {
		font-size: 0.85rem;
	}
	nav {
		margin-top: 0.7em;
	}
}
.resource-desc {
	line-height: 1.5;
	font-size: 0.9rem;
}

@import "bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "secondary": ($secondary, $secondary-invert),
  "navtext": ($navtext, $navtext-invert),
  "tertiary": ($tertiary, $tertiary-invert)
);
$colors: map-merge($colors, $addColors);


@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/layout/_all";
