{% block content %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<section class="section is-marginless notification is-secondary">
  <div class="container">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
          <h2 class="title is-size-3 has-text-primary">Our origins and philosophy:</h2>
          <br>
          <div class="content">
          <p>The Generation Coders club in BCA first debuted in September of 2017. Since then, we have already formed relations with 7 schools and libraries in Bergen County! I'm Anand Shetler, the founder and co-president of this organization is and I'd like to talk a little about my motivation for starting this organization. In my hometown, kids, teens, or even adults with any experience with Computer Science were a rarity. I was one of a very small number of kids who wanted to go beyond learning how to use Powerpoint and Photoshop in our Computers class at school.</p>
          <p>Luckily, I was also a constant volunteer at my local library. My local library seemed to me the perfect place to start if I wanted to change the attitude towards Computer Science in my community. Fortunately, the wonderful librarians at my library were kind enough to help me follow through with my ambitions. In no time I had organized my first workshop where I would be teaching middle school age kids how to build their very own websites! The only problem was I had nobody to help me. The most intelligent people I knew that would for sure be willing and capable to help were right in front of me - my fellow students at BCA!</p>
          <p>The easiest way for me to both gather support and keep the movement spreading was to start a new club. Next thing I knew, with a single email sent out to the student body, I had gained overwhelming support from friends and strangers alike all willing to participate! And thus, Generation Coders was founded. A group of passionate students, all with ideas and ambitions in mind, ready to extend their help throughout the county and eventually the state! Who knows what the future may hold.</p>
          <p>In our future we hope to keep expanding both throughout the state and to a larger audience. We hope to be able to provide more opportunities to underserved communities and for a larger range of age groups. A key part of our philosophy is that coding and Computer Science is not limited to any age group or background. Anyone with the interest and motivation to learn should, and hopefully in the future WILL, have the opportunity to learn to their heart's content.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'footer.html' %}
{% endblock %}