{% block content %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<section class="section is-marginless notification is-secondary">
  <div class="container">
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
          <h2 class="title is-size-3 has-text-primary">Our origins and philosophy:</h2>
          <br>
          <div class="content">
          <p>The Generation Coders club in BCA first debuted in September of 2017. Since then, we have already formed relations with 7 schools and libraries in Bergen County! I'm Audrey Kim, president of this organization. I’d like to talk about what this organization is and the motivation behind this organization.</p>
          <p>I became interested in programming when my middle school’s computer class introduced HTML. We didn’t have a very extensive unit, but I was excited to learn more about it, and tried to apply some of what I learned at home. As a 7th grader, however, I did not know of any resources around me that I could use. There weren’t any clubs, extracurriculars, or programming classes around where I lived. </p>
          <p>I entered high school as a Computer Science major, and instantly found a home. In my sophomore year, I learned of a club called Generation Coders, run by Anand Shelter, a senior. At the time, we were only teaching at one location. I was excited to teach and expand the club. I contacted my library to set up a weekly programming workshop. I ended up teaching every Monday and Saturday, and really enjoyed myself, and found myself more dedicated to the <span class = "highlight">mission of making Computer Science education accessible,</span> and took on the role of president. <span class="blinking">This year alone, we’ve added four new locations to our program!</span></p>
          <p>And that’s the goal. Generation Coders is a group of passionate students, all with ideas and ambitions in mind, ready to extend their help throughout the county and eventually the state. We set out to libraries to teach and spread knowledge and our passions for Computer Science, and most importantly, make an education more accessible.</p>
          <p>In our future, we hope to keep expanding both throughout the state and to a larger community. We hope to be able to provide more opportunities to underserved communities and for a larger range of age groups. A key part of our philosophy is that <span class = "highlight">a coding and Computer Science education should not be limited to any age group or background.</span> Anyone with the interest and motivation to learn should, and hopefully in the future WILL, have the opportunity to learn to their heart's content.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'footer.html' %}
{% endblock %}