<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p class="has-text-secondary">
        <strong class="has-text-secondary">Generation Coders</strong>: Making technology accessible to <strong class="has-text-secondary"> all </strong>generations</p>
          <a>
            <span class="icon is-medium has-text-white"><i class="fas fa-envelope"></i></span>
          </a>
          <a>
            <span class="icon is-medium has-text-white"><i class="fas fa-heart"></i></span>
          </a>
          <a>
            <span class="icon is-medium has-text-white"><i class="fab fa-facebook"></i></span>
          </a>       
    </div>
  </div>
</footer>
<script src="assets/js/index.js"></script>
  </body>
</html>