<footer class="footer">
  <div class="container" style="bottom: 0;">
    <div class="content has-text-centered">
      <p class="has-text-secondary">
        <strong class="has-text-secondary">Generation Coders</strong>: Making technology accessible to <strong class="has-text-secondary"> all </strong>generations</p>
          <a href="mailto:GenCodersBCA@gmail.com">
            <span class="icon is-medium has-text-white"><i class="fas fa-envelope"></i></span>
          </a>
          <a href="https://drive.google.com/drive/folders/1JfdHOWFNAxaOFu96rLWp_ZcEMQTEp3nv?usp=sharing">
            <span class="icon is-medium has-text-white"><i class="fas fa-heart"></i></span>
          </a>
          <a href="https://www.facebook.com/GenerationCoders">
            <span class="icon is-medium has-text-white"><i class="fab fa-facebook"></i></span>
          </a>       
    </div>
  </div>
</footer>
<script src="{{ url_for('static', filename = 'js/index.js')}}"></script>
  </body>

</html

