<footer class="footer">
  <div class="container" style="bottom: 0;">
    <div class="content has-text-centered">
      <p class="has-text-secondary">
         <strong class="has-text-secondary">Generation Coders</strong>: Making technology accessible to <strong class="has-text-secondary"> all </strong>generations</p>

          <a href="https://www.instagram.com/bca_generationcoders">
            <span class="icon is-medium has-text-white"><i class="fab fa-instagram"></i></span>
          </a>
          <a href="mailto:GenCodersBCA@gmail.com">
            <span class="icon is-medium has-text-white"><i class="fas fa-envelope"></i></span>
          </a>
          <a href="https://www.facebook.com/GenerationCoders">
            <span class="icon is-medium has-text-white"><i class="fab fa-facebook"></i></span>
          </a>

          <br>

            <div style="padding-top: 20px;">
                <p style="color: white; font-size: .8em;"> <strong style="color: white; ">Webmaster</strong>: David Ionita</p>
            </div>

    </div>
  </div>
</footer>
<script src="{{ url_for('static', filename = 'js/index.js')}}"></script>
  </body>

</html

