<section class="hero-foo is-primary is-medium">
<!-- Hero head: will stick at the top -->
<div class="hero-head">
<nav class="navbar">
  <div class="container">
    <div id="nav">
      <div class="container">
        <a href="/"><img class="logo" src="{{ url_for('static', filename = 'img/Logo.jpg')}}"></a>
        <ul class="has-text-navtext">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/showcase">Showcase</a></li>
          <li><a href="/upcoming">Upcoming</a></li>
          <li><a href="/resources">Resources</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
</div>
</section>