{% block content %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<section class="section is-marginless notification is-secondary">
  <div class="container">
   
    <div class="columns">

      <div class="column is-three-fifths is-offset-one-fifth">
         <h2 class="title is-size-3 has-text-primary">Resources</h2>
    <p>We hope you had a great time at our workshops! If you'd like to keep learning and coding on your own, here are some awesome resources for you to check out, which we'll be updating from time to time. If you need any help, feel free to email us at <a href="mailto:gencodersbca@gmail.com">GenCodersBCA@gmail.com</a> or check out some of our workshops at our <a href="https://github.com/GenerationCoders">Github</a> page! If you've never used Github before, simply click on the topic you want references for, click on "Clone or download" and hit "Download ZIP".</p>
    <br>
         <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="https://yt3.ggpht.com/a-/AJLlDp2NUDK719Tqd-y05tqgJDt4vtDkze3x3pau=s900-mo-c-c0xffffffff-rj-k-no" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="is-marginless is-paddingless">
                  <strong><a href="https://scratch.mit.edu/">Scratch</a></strong>
                  <span class="tag is-warning">Scratch</span>
                  </p>
                  <p class="is-marginless is-paddingless resource-desc">Scratch is a visual programming language built for kids for making fun programs, games, and more!
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
     <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="is-marginless is-paddingless">
                  <strong><a href="https://github.com/GenerationCoders">GitHub</a></strong>
                  <span class="tag is-warning">Code Repository</span>
                  </p>
                  <p class="is-marginless is-paddingless resource-desc">The Generation Coders GitHub page houses all of our example code and projects so that you can find a lessons's starter code easily or review what you learned.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
     <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="https://hourofcode.com/us/en/images/hour-of-code-logo.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="is-marginless is-paddingless">
                  <strong><a href="https://code.org/learn">Hour of Code</a></strong>
                  <span class="tag is-warning">Block Code</span>
                  </p>
                  <p class="is-marginless is-paddingless resource-desc">Hour of Code offers a wide variety of one hour computer science tutorials for kids, from making animations of your name to building with Flappy Bird and more!
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0YS-4zNt1gap_GltJcQ_F-lD5r5x4okA9gOxJNHuNtlOR7jQy" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="is-marginless is-paddingless">
                  <strong><a href="https://codecombat.com/">Code Combat</a></strong>
                  <span class="tag is-warning">Beginner Typed Code</span>
                  </p>
                  <p class="is-marginless is-paddingless resource-desc">Learn computer science concepts by playing a game and advancing through fun levels!
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
     <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/15/Khan_Academy_Logo_Old_version_2015.jpg" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="is-marginless is-paddingless">
                  <strong><a href="https://www.khanacademy.org/computing/computer-programming">Khan Academy</a></strong>
                  <span class="tag is-warning">HTML/CSS</span>
                  </p>
                  <p class="is-marginless is-paddingless resource-desc">Khan Academy teaches not only your traditional school subjects but also has great cs courses! May be a little more advanced.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="http://www.crunchzilla.com/root-index/monster2.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="is-marginless is-paddingless">
                  <strong><a href="http://www.crunchzilla.com/">Crunchzilla</a></strong>
                  <span class="tag is-warning">Interactive JavaScript</span>
                  </p>
                  <p class="is-marginless is-paddingless resource-desc">With courses for both preteens and older, write real code and make drawings with JavaScript!
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="https://www.codecademy.com/webpack/44e01805165bfde4e6e4322c540abf81.svg" alt="Image" style="height: 100%; vertical-align: middle;">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="is-marginless is-paddingless">
                  <strong><a href="https://www.codecademy.com/#!/exercises/0">Codecademy</a></strong>
                  <span class="tag is-warning">Computer Science Courses</span>
                  </p>
                  <p class="is-marginless is-paddingless resource-desc">Codecademy has a wide range of interactive courses covering an extensive amount of topics, from HTML&CSS to Python and more!
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="https://is2-ssl.mzstatic.com/image/thumb/Purple128/v4/0b/63/48/0b634837-fd1a-39bb-9d7b-f418745e1336/mzl.tqstcjgb.png/246x0w.jpg" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="is-marginless is-paddingless">
                  <strong><a href="https://gameblox.org/">Gameblox</a></strong>
                  <span class="tag is-warning">Block Code Game Design</span>
                  </p>
                  <p class="is-marginless is-paddingless resource-desc">Gameblox is a blocks based programming language similar to Scratch that you can use to make games, which you can then play on your phone!
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="https://pbs.twimg.com/profile_images/897176124777795584/fLhERIar.jpg" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="is-marginless is-paddingless">
                  <strong><a href="http://www.appinventor.org/">App Inventor</a></strong>
                  <span class="tag is-warning">Android</span>
                  </p>
                  <p class="is-marginless is-paddingless resource-desc">App Inventor is a visual blocks based language that you can use to build an Android app in just a few hours!
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp38FzH-ZSM57J5zLMwUapO3VGpynDg1SQwAQvIL96hAo9-2Oe" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="is-marginless is-paddingless">
                  <strong><a href="https://studio.code.org/courses">Studio Code</a></strong>
                  <span class="tag is-warning">Projects</span>
                  </p>
                  <p class="is-marginless is-paddingless resource-desc">Studio Code offers a wide variey of coding projects and courses for kids beyond the shorter Hour of Code programs.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'footer.html' %}
{% endblock %}