{% block content %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<section class="section is-marginless is-secondary">
  <div class="container">
    <h2 class="title has-text-centered is-size-3 has-text-primary">What we've been up to:</h2>
    <p>As we're teaching, we learn and grow and have new experiences at each place we go to. With each new location, we're writing a reflection as a way to store and share our memories. Feel free to check them out!</p>
    <br>
    <div class="columns is-tablet has-text-centered">
        <div class="column is-one-third">
        <div class="card">
          <div class="card-image" style="background: linear-gradient(0deg,rgba(0, 61, 255,0.5),rgba(0, 61, 255,0.5)), url('{{ url_for('static', filename = 'img/hero.jpg')}}');background-repeat:no-repeat;background-size:cover;background-position:center;">
            <div class="card-image-content">
            <p class="subtitle has-text-centered has-text-white">Bergen Makerspace</p>
          </div>
          </div>
          <div class="card-content card-overlay">
            <div class="content">
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p><time class="is-small">1/27/18</time></p>
                </div>
              </div>
              <div class="level-right">
                <a class="level-item button is-small is-primary is-marginless">More</a>
              </div>
            </nav>
          </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image" style="background: linear-gradient(0deg,rgba(0, 61, 255,0.5),rgba(0, 61, 255,0.5)), url('{{ url_for('static', filename = 'img/showcase/g.jpg')}}');background-repeat:no-repeat;background-size:cover;background-position:center;">
            <div class="card-image-content">
            <p class="subtitle has-text-centered has-text-white">St. John's Academy</p>
          </div>
          </div>
          <div class="card-content card-overlay">
            <div class="content">
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p><time class="is-small">1/28/18</time></p>
                </div>
              </div>
              <div class="level-right">
                <a class="level-item button is-small is-primary is-marginless">More</a>
              </div>
            </nav>
          </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image" style="background: linear-gradient(0deg,rgba(0, 61, 255,0.5),rgba(0, 61, 255,0.5)), url('{{ url_for('static', filename = 'img/showcase/re.jpg')}}');background-repeat:no-repeat;background-size:cover;background-position:center;">
            <div class="card-image-content">
            <p class="subtitle has-text-centered has-text-white">River Edge Library</p>
          </div>
          </div>
          <div class="card-content card-overlay">
            <div class="content">
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p><time class="is-small">1/10/18</time>, <time class="is-small">1/17/18</time>, <time class="is-small">1/24/18</time></p>
                </div>
              </div>
              <div class="level-right">
                <a class="level-item button is-small is-primary is-marginless">More</a>
              </div>
            </nav>
          </div>
          </div>
        </div>
      </div>
    </div>
        <div class="columns is-tablet has-text-centered">
        <div class="column is-one-third">
        <div class="card">
          <div class="card-image" style="background: linear-gradient(0deg,rgba(0, 61, 255,0.5),rgba(0, 61, 255,0.5)), url('{{ url_for('static', filename = 'img/showcase/palpark.jpg')}}');background-repeat:no-repeat;background-size:cover;background-position:center;">
            <div class="card-image-content">
            <p class="subtitle has-text-centered has-text-white">Palisades Park Library</p>
          </div>
          </div>
          <div class="card-content card-overlay">
            <div class="content">
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p><time class="is-small">12/6/17</time>, <time class="is-small">12/13/17</time></p>
                </div>
              </div>
              <div class="level-right">
                <a class="level-item button is-small is-primary is-marginless">More</a>
              </div>
            </nav>
          </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image" style="background: linear-gradient(0deg,rgba(0, 61, 255,0.5),rgba(0, 61, 255,0.5)), url('{{ url_for('static', filename = 'img/hero.jpg')}}');background-repeat:no-repeat;background-size:cover;background-position:center;">
            <div class="card-image-content">
            <p class="subtitle has-text-centered has-text-white">Glen Rock Library</p>
          </div>
          </div>
          <div class="card-content card-overlay">
            <div class="content">
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <p><time class="is-small">11/18/17</time>, <time class="is-small">11/15/17</time></p>
                </div>
              </div>
              <div class="level-right">
                <a class="level-item button is-small is-primary is-marginless">More</a>
              </div>
            </nav>
          </div>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
      </div>
    </div>
  </div>
</section>
{% include 'footer.html' %}
{% endblock %}