{% block content %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<section class="section is-marginless notification is-secondary" style="padding-bottom: 120px;">
  <div class="container">
    <h2 class="title is-size-3 has-text-primary">Upcoming Events</h2>
    <p class="top-blurb">Here's our upcoming workshops and events! We'd love to see you there, feel free to get in touch with us at <a href="mailto:gencodersbca@gmail.com">GenCodersBCA@gmail.com</a>!</p>
    <br>
    <div class="columns">
      <div class="column is-one-third">
        <div class="notification session-notification is-white">
          <div class="content">
            <div class="session-date">
              <div class="session-date-group">
                <p class="session-day-number"><strong>17</strong></p>
              </div>
              <div class="session-date-group">
                <p class="session-month is-marginless"><small>December</small></p>
                <p class="session-time is-marginless"><small>6:00 PM - 7:00 PM</small></p>
              </div>
            </div>
            <a href="#" class="is-marginless has-text-weight-bold is-size-5">Harrington Park Library</a>
            <p><small>Python Programming Session 3</small></p>
          </div>
          <div class="session-bottom-details">
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <span class="tag is-danger">Python</span>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <div>
                    <p>Lead: Elias Cho</p>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="notification session-notification is-white">
          <div class="content">
            <div class="session-date">
              <div class="session-date-group">
                <p class="session-day-number"><strong>14</strong></p>
              </div>
              <div class="session-date-group">
                <p class="session-month is-marginless"><small>January</small></p>
                <p class="session-time is-marginless"><small>5:30 PM - 6:30 PM</small></p>
              </div>
            </div>
            <a href="#" class="is-marginless has-text-weight-bold is-size-5">Washington Township Library</a>
            <p><small>Python Programming Session 1</small></p>
          </div>
          <div class="session-bottom-details">
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <span class="tag is-warning">Python</span>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <div>
                    <p>Lead: Michele Bilko</p>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="notification session-notification is-white">
          <div class="content">
            <div class="session-date">
              <div class="session-date-group">
                <p class="session-day-number"><strong>21</strong></p>
              </div>
              <div class="session-date-group">
                <p class="session-month is-marginless"><small>January</small></p>
                <p class="session-time is-marginless"><small>5:30 PM - 6:30 PM</small></p>
              </div>
            </div>
            <a href="#" class="is-marginless has-text-weight-bold is-size-5">Washington Township Library</a>
            <p><small>Python Programming Session 2</small></p>
          </div>
          <div class="session-bottom-details">
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <span class="tag is-success">Python</span>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <div>
                    <p>Lead: Michele Bilko</p>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-one-third">
        <div class="notification session-notification is-white">
          <div class="content">
            <div class="session-date">
              <div class="session-date-group">
                <p class="session-day-number"><strong>28</strong></p>
              </div>
              <div class="session-date-group">
                <p class="session-month is-marginless"><small>January</small></p>
                <p class="session-time is-marginless"><small>5:30 PM - 6:30 PM</small></p>
              </div>
            </div>
            <a href="#" class="is-marginless has-text-weight-bold is-size-5">Washington Township Library</a>
            <p><small>Python Programming Session 3</small></p>
          </div>
          <div class="session-bottom-details">
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <span class="tag is-warning">Python</span>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <div>
                    <p>Lead: Michele Bilko</p>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="notification session-notification is-white">
          <div class="content">
            <div class="session-date">
              <div class="session-date-group">
                <p class="session-day-number"><strong>4</strong></p>
              </div>
              <div class="session-date-group">
                <p class="session-month is-marginless"><small>February</small></p>
                <p class="session-time is-marginless"><small>5:30 PM - 6:30 PM</small></p>
              </div>
            </div>
            <a href="#" class="is-marginless has-text-weight-bold is-size-5">Washington Township Library</a>
            <p><small>Python Programming Session 4</small></p>
          </div>
          <div class="session-bottom-details">
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <span class="tag is-success">Python</span>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <div>
                    <p>Lead: Michele Bilko</p>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>

      <div class="column is-one-third">
        <div class="notification session-notification is-white">
          <div class="content">
            <div class="session-date">
              <div class="session-date-group">
                <p class="session-day-number"><strong>11</strong></p>
              </div>
              <div class="session-date-group">
                <p class="session-month is-marginless"><small>February</small></p>
                <p class="session-time is-marginless"><small>5:30 PM - 6:30 PM</small></p>
              </div>
            </div>
            <a href="#" class="is-marginless has-text-weight-bold is-size-5">Washington Township Library</a>
            <p><small>Python Programming Session 5</small></p>
          </div>
          <div class="session-bottom-details">
            <nav class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <span class="tag is-success">Python</span>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <div>
                    <p>Lead: Michele Bilko</p>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
{% include 'footer.html' %}
{% endblock %}
