{% block content %}
{% include 'base.html' %}
{% include 'navbar.html' %}
<section class="section is-marginless notification is-secondary" style="padding-bottom: 120px;">
  <div class="container">
    <h2 class="title is-size-3 has-text-primary">Upcoming Events</h2>
    <p class="top-blurb">In response to COVID-19, we are working on setting up online workshops to launch in the summer! Please email audkim21@bergen.org with any concerns or questions about these programs. For general queries, feel free to get in touch with us at <a href="mailto:gencodersbca@gmail.com">GenCodersBCA@gmail.com</a>! Thank you, and stay safe!</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>

</section>
{% include 'footer.html' %}
{% endblock %}
